body {
  padding: 16px;
}

canvas {
  border: 1px solid #d3d2d2;
}

fieldset {
  margin-top: 8px;
  text-align: center;
}

.chart-container {
  position: relative;
  margin: auto;
  height: 80vh;
  width: 95vw;
}
